body{
    background: #E6DADA; 
    background: -webkit-linear-gradient(to top, #274046, #E6DADA); 
    background: linear-gradient(to top, #274046, #E6DADA);
    height: 630px;
}

.espacamento{
    height: 50px;
} 

.lua{
    margin: 0 auto;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
    box-shadow: 5px 2px 15px 15px rgba(78, 78, 78, 0.623);
}

.nuvem{
    position: absolute;

}
.nuvem1{
    background-color: rgba(131, 131, 131, 0.623);
    height: 10px;
    width: 400px;
    border-radius: 68% 32% 66% 34% / 40% 60% 40% 60% ;
    box-shadow: 5px 2px 15px 15px rgba(131, 131, 131, 0.623);
    margin-left: 250px;
    margin-top: -25px;
}
.nuvem2{
    background-color: rgba(131, 131, 131, 0.623);
    height: 30px;
    width: 500px;
    border-radius: 68% 32% 66% 34% / 40% 60% 40% 60% ;
    box-shadow: 5px 2px 15px 15px rgba(131, 131, 131, 0.623);
    margin-left: 600px;

}
.nuvem3{
    background-color:rgba(131, 131, 131, 0.623);
    height: 15px;
    width: 400px;
    border-radius: 68% 32% 66% 34% / 40% 60% 40% 60% ;
    box-shadow: 5px 2px 15px 15px rgba(131, 131, 131, 0.623);
    margin-left: 500px;
}

.nuvem4{
    background-color:rgba(131, 131, 131, 0.623);
    height: 15px;
    width: 300px;
    border-radius: 68% 32% 66% 34% / 40% 60% 40% 60% ;
    box-shadow: 5px 2px 15px 15px rgba(131, 131, 131, 0.623);
    margin-left: 650px;
    margin-top: -10px;
}
.nuvem5{
    background-color:rgba(131, 131, 131, 0.623);
    height: 15px;
    width: 300px;
    border-radius: 68% 32% 66% 34% / 40% 60% 40% 60% ;
    box-shadow: 5px 2px 15px 15px rgba(131, 131, 131, 0.623);
    margin-left: 650px;
    margin-top: -190px;
}
.nuvem6{
    background-color:rgba(131, 131, 131, 0.623);
    height: 15px;
    width: 300px;
    border-radius: 68% 32% 66% 34% / 40% 60% 40% 60% ;
    box-shadow: 5px 2px 15px 15px rgba(131, 131, 131, 0.623);
    margin-left: 500px;
}
.nuvem7{
    background-color:rgba(131, 131, 131, 0.623);
    height: 15px;
    width: 600px;
    border-radius: 68% 32% 66% 34% / 40% 60% 40% 60% ;
    box-shadow: 5px 2px 15px 15px rgba(131, 131, 131, 0.623);
    margin-left: 800px;
    margin-top: 10px;
}


.montanha{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    margin-top: 300px;
    margin-bottom: 0;
    margin-left: 10%;
}

.montanha-sombra{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    margin-top: -200px;
    margin-left: 92px;


}

.pico1{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 150px solid transparent;
    border-right: 200px solid black;
    border-bottom: 100px solid black;
    z-index: 1;
} 
   

.pico2{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid transparent;
    border-left: 200px solid black;
    border-bottom: 100px solid black;
    z-index: 1;
}


.pico11{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 150px solid transparent;
    border-right: 200px solid black;
    border-bottom: 100px solid black;
    margin-left: -100%;
   
} 
   

.pico22{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid transparent;
    border-left: 200px solid black;
    border-bottom: 100px solid black; 
}



